.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      - if can? :index, Employee
        = link_to "All Employees", employees_path, class: "btn btn-primary btn-rounded m-sm"
      .ibox.float-e-margins
        .ibox-title
          %h5 Edit an Employee
        .ibox-content
          = render 'form'
