.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      - if can? :index, AllowanceType
        = link_to "All Allowance Types", allowance_types_path, class: "btn btn-primary btn-rounded m-sm"
      .ibox.float-e-margins
        .ibox-title
          %h5 Edit an Allowance Type
        .ibox-content
          = render 'form', allowance_type: @allowance_type
