.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          Create a new User in the
          %b current branch
        .ibox-content
          = render 'form'
