- if flash && flash[:alert]
  .alert.alert-danger.alert-dismissable.m-t-xs
    %button.close{"aria-hidden" => true, data: { dismiss: "alert" }, type: "button"}
      ×
    = flash[:alert]

- if flash && flash[:notice]
  .alert.alert-success.alert-dismissable.m-t-xs
    %button.close{"aria-hidden" => true, data: { dismiss: "alert" }, type: "button"}
      ×
    = flash[:notice]

:javascript
  $(document).ready(function() {
    setTimeout(function() {
      $(".alert").slideUp({
        duration: 1000,
        easing: "linear",
        complete: function() {
          $(this).remove();
        }
      });
    }, 2000);
  });
