.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      - if can? :index, AccountType
        = link_to "All Account Lists", account_type_path, class: "btn btn-primary btn-rounded m-sm"
      .ibox.float-e-margins
        .ibox-title
          %h5 Edit an Account List
        .ibox-content
          = render 'form', account_type: @account_type
