.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      - if can? :index, LeaveApplication
        = link_to "All Leave Applications", leave_applications_path, class: "btn btn-primary btn-rounded m-sm"
      .ibox.float-e-margins
        .ibox-title
          %h5 Create a new Leave Application
        .ibox-content
          = render 'form', leave_application: @leave_application
