.asset-account {
  background-color: rgba(236, 100, 75, 0.5) !important;
}
.liability-account {
  background-color: rgba(20, 198, 224, 0.5) !important;
}
.equity-account {
  background-color: rgba(129, 207, 224, 0.5) !important;
}
.income-account {
  background-color: rgba(63, 195, 128, 0.5) !important;
}
.expense-account {
  background-color: rgba(244, 179, 80, 0.5) !important;
}
