//= require datapicker/datepicker3.css
//= require jasny/jasny-bootstrap.min.css

.input-group.date {
  padding-left: 14px;
}

.transaction-attachment {
  margin-left: 0px;
}

.m-t-n-xs-for-shif-summary {
  margin-top: -7px;
}
