.tree-zoon-buttons.pull-right
  %button.btn.btn-primary{type: "button", id: "treeZoomIn", value: 2}
    %span.glyphicon.glyphicon-zoom-in
    Zoom-in
  %button.btn.btn-primary{type: "button", id: "treeZoomOut", value: 1}
    %span.glyphicon.glyphicon-zoom-out
    Zoom-out
  #reportrange.form-control.m-t-xs{data: { "start-date": @start_date }}
    %i.fa.fa-calendar
    %span
    %b.caret
  .sk-spinner.sk-spinner-wave.hidden#accountTreeWaveAnimation
    .sk-rect1
    .sk-rect2
    .sk-rect3
    .sk-rect4
    .sk-rect5
.row
  .col-md-12
    #tree
