.tree-zoon-buttons.pull-right
  %button.btn.btn-primary{:type => "button", :id => "treeZoomIn", :value => 2}
    %span.glyphicon.glyphicon-zoom-in
    Zoom-in
  %button.btn.btn-primary{:type => "button", :id => "treeZoomOut", :value => 1}
    %span.glyphicon.glyphicon-zoom-out
    Zoom-out
.row
  .col-md-12
    #tree
  